@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poiretone/v14/UqyVK80NJXN4zfRgbdfbk5k.ttf) format('truetype');
}
* {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
}
html, body{
  margin: 0;
  width: 100%;
}
#upper{
  display: flex;
  font-size: 21px;
  background-color: #C4DC7B;
  left: 0px;
  right: 0px;
  top: 0px;
  height: fit-content;
  position: fixed;
  z-index: 100;
}
.upelement{
  text-decoration: none;
  color: black;
}
.upelement:hover{
  color: gray;
}
#menu{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15%;
  width: 100%;
  margin-left: 3%;
  margin-top: -1%;
}
#menu>h4{
  margin-top: 3%; 
  margin-bottom: 0;
}
#menu>h4:hover{
  color: #9F9F9F;
}
#logo{
  width: 10%;
  height: 20%;
  margin-bottom: 0;
  margin-left: 8%;
}
#divFirst{
  text-align: center;
  margin: auto;
  margin-top: 7%;
  font-size: 26px;
  width: 1400px;
}
#divFirst>button{
  background: #FD5E53;
  border-radius: 100px;
  border-width: 0;
  color: #FFFFFF;
  width: 390px;
  height: 75px;
  margin-bottom: 5%;
}
#divFirst>button>h1{
  text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    -webkit-text-stroke: 2px #FFFFFF;

}
#freeCons{
  margin-top: 7%;
  text-shadow: 6px 6px 15px #FD5E53;
}
#divFirst>p{
  font-size: 36px;
  margin: 1%;
  text-shadow: 6px 6px 15px #FD5E53;
}
#divFirst>img{
  border-radius: 100px;
}
.infoCons{
  text-align: center;
  margin: auto;
  margin-top: 7%;
  width: 1400px;
  display: inline-flex;
  margin-left: 22.5%;
}
.infoCons>img{
  width: 538px;
  height: 757px;
  border-radius: 100px;
}
.textCons{
  font-size: 36px;
  text-shadow: 6px 6px 15px #FD5E53;
  width: 450px;
  margin-right: 5%;
}
.buttonChoose{
  width: 306px;
  height: 87.99px;

  background: #FD5E53;
  border-radius: 100px;
  border-width: 0;
  font-size: 36px;
  color: #FFFFFF;
  width: 390px;
  height: 75px;
  margin-bottom: 5%;
}
.buttonChoose>p{
  text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    -webkit-text-stroke: 2px #FFFFFF;
}
#free{
  width: 550px;
  margin-left: -11%;
}
#mentors{
  margin: auto;
  text-align: center;
  font-size: 36px;
  margin-top: 7%;
}
#mentors>h1{
  font-size: 56px;
}
.mentorInfo>img{
  width: 376px;
  height: 564px;
  border-radius: 75px;
}
.mentorInfo{
  display: inline-flex;
  width: 1500px;
  margin-top: 3%;
}
.mentorsText{
  width: 1300px;
  margin-top: -3%;
  text-align: left;
  margin-left: 3%;
  font-size: 37px;
  text-shadow: 6px 6px 15px #FD5E53;
}
#saviaText>p{
  text-align: right;
  margin-right: 3%;
}
footer{
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 25%;
  border-top: 1px solid black;
  width: 100%;
  margin-top: 10%;
  margin-left: 0;
}
#img{
  width: 35%;
}