@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
* {
    font-family: 'Poiret One', cursive;
    font-weight: 400;
}
html, body{
    margin: 0;
    width: 100%;
}
#upper{
    display: flex;
    font-size: 21px;
    background-color: #C4DC7B;
    left: 0px;
    right: 0px;
    top: 0px;
    height: fit-content;
    position: fixed;
    z-index: 100;
}
.upelement{
    text-decoration: none;
    color: black;
}
.upelement:hover{
    color: gray;
}
#menu{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15%;
    width: 100%;
    margin-left: 3%;
    margin-top: -1%;
}
#menu>h4{
    margin-top: 3%; 
    margin-bottom: 0;
}
#menu>h4:hover{
    color: #9F9F9F;
}
#logo{
    width: 10%;
    height: 20%;
    margin-bottom: 0;
    margin-left: 8%;
}
h1{
    text-align: center;
    margin: auto;
    margin-top: 10%;
    font-size: 56px;
}
.info>img{
    width: 719px;
    border-radius: 100px;
}
.info{
    display: inline-flex;
    margin-left: 15%;
    margin-top: 5%;
}
.textDiv{
   font-size: 36px;
   text-align: center;
   width: 600px;
   margin-left: 3%;
   margin-top: -2.5%;
}
#useTents{
    width: 650px;
}
.chooseButton{
    width: 400px;
    height: 85px;

    background: #FD5E53;
    border-radius: 100px;
    border-width: 0;
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.25);
    font-size: 43px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    -webkit-text-stroke: 3px #FFFFFF;
}
#showMap{
    width: 500px;
    height: 100px;
}
#newButton{
    width: 600px;
    height: 100px;
    margin-top: 9%;
    background: #085C6F;
    border-radius: 100px;
    border-width: 0;
    opacity: .5;
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.25);
    font-size: 43px;
    color: #FFFFFF;
    text-align: center;
    -webkit-text-stroke: 3px #FFFFFF;
}
#hotelDiv{
    margin-right: 10%;
}
.SevenDaysPs{
    width: 700px;
    text-align: left;
}
#addit{
    margin-bottom: 25%;
}
#addit1{
    margin-bottom: 20%;
}
#addit2{
    margin-top: 9%;
    margin-bottom: 21%;
}
footer{
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 25%;
    border-top: 1px solid black;
    width: 100%;
    margin-top: 15%;
    margin-left: 0;
}
#img{
    width: 35%;
}