@font-face {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poiretone/v14/UqyVK80NJXN4zfRgbdfbk5k.ttf) format('truetype');
  }
  * {
    font-family: 'Poiret One', cursive;
    font-weight: 400;
  }
  html, body{
    margin: 0;
    width: 100%;
  }
  #upper{
    display: flex;
    font-size: 21px;
    background-color: #C4DC7B;
    left: 0px;
    right: 0px;
    top: 0px;
    height: fit-content;
    position: fixed;
    z-index: 100;
  }
  .upelement{
    text-decoration: none;
    color: black;
  }
  .upelement:hover{
    color: gray;
  }
  #menu{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15%;
    width: 100%;
    margin-left: 3%;
    margin-top: -1%;
  }
  #menu>h4{
    margin-top: 3%; 
    margin-bottom: 0;
  }
  #menu>h4:hover{
    color: #9F9F9F;
  }
  #logo{
    width: 10%;
    height: 20%;
    margin-bottom: 0;
    margin-left: 8%;
  }
h1{
    text-align: center;
    margin: auto;
    margin-top: 10%;
    font-size: 56px;
}
p{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-size: 41px;
}
#imgDiv{
    width: 1700px;
    margin-left: 7.5%;
}
.imgMain{
    width: 500px;
    height: 485px;
    filter: drop-shadow(6px 6px 30px rgba(0, 0, 0, 0.25));
    border-radius: 100px;
    margin-bottom: 0;
    transition: 1s;
    margin-top: 3%;
    margin-right: 3%;
}
#namesTours{
   display: inline-flex;
   gap: 150px;
   justify-content: center;
   margin-left: 10.5%;
   margin-top: 1.5%; 
}
.buttonChoose{
    width: 400px;
    height: 75px;
    display: inline-flex;
    margin-right: 0;
    background: #FD5E53;
    border-radius: 100px;
    border-width: 0;
    font-size: 36px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.25);
    margin: 0;
    -webkit-text-stroke: 2px #FFFFFF;
}
footer{
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 25%;
    border-top: 1px solid black;
    width: 100%;
    margin-top: 10%;
    margin-left: 0;
}
#img{
    width: 35%;
}
#sec1>p{
    text-align: left;
    font-size: 16px;
}
#sec2>p{
    text-align: left;
    font-size: 16px;
}
#contacts>p{
    text-align: left;
    font-size: 16px;
    margin-left: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
}
a{
  text-decoration: none;
}
.buttonChoose:hover{
  background-color: #9F9F9F;
  transition: 1s;
}